<div class="row">
  <div class="col-md-12">
    <h3>1st hour</h3>
    <table class="table table-striped">
      <tr> <td>08:45</td>  <td><a href="https://biologyguy.github.io/git-novice/03-create/"> Creating repositories </a></td></tr>
      <tr> <td>08:55</td>  <td><a href="https://biologyguy.github.io/git-novice/04-changes/"> Tracking changes </a></td> </tr>
      <tr> <td>09:15</td>  <td><a href="https://biologyguy.github.io/git-novice/05-push-pull/"> Pushing and pulling to and from GitHub</a></td></tr>
      <tr> <td>09:35</td>  <td><a href="https://biologyguy.github.io/git-novice/06-ignore/"> Ignoring things</a></td></tr>
      <tr> <td>09:40</td>  <td><a href="https://biologyguy.github.io/git-novice/07-collab/"> Collaborating</a></td></tr>
    </table>
  </div>

  <div class="col-md-12">
    <h3>2nd hour</h3>
    <table class="table table-striped">
      <tr> <td>10:00</td>  <td><a href="https://biologyguy.github.io/git-novice/08-conflict/"> Conflict resolution </a></td> </tr>
      <tr> <td>10:20</td>  <td><a href="https://biologyguy.github.io/git-novice/09-pull-request/">Workflow1: Forks and Pull Requests</a></td> </tr>
      <tr> <td>10:40</td>  <td><a href="https://crerecombinase.github.io/git-lessons/10-branching.html">Workflow2: Branching&Merging</a></td> </tr>
      <tr> <td>11:00</td>  <td>Break</td> </tr>
    </table>
  </div>

  <div class="col-md-12">
    <h3>Working session</h3>
    <table class="table table-striped">
      <tr> <td>11:15</td> <td>What branches of ED2 exist outside of the main repository?</td> </tr>
      <tr> <td>--</td>    <td>What are their histories?</td> </tr>
      <tr> <td>--</td>    <td>What do we want to keep?</td> </tr>
      <tr> <td>--</td>    <td>Is the std centralized workflow best for ED2?</td> </tr>
      <tr> <td>--</td>    <td>Who is going to work to merge everything?</td> </tr>
      <tr> <td>12:30</td> <td>END</td> </tr>
    </table>
  </div>
</div>
